.body{
    background-color: rgb(252, 203, 211);
    border: 4px solid black;
    border-bottom: 10px solid black ;
    border-right: 10px solid black;
    border-radius: 30px;
    /* padding: 40px; */
    padding-bottom: 0%;
    outline: solid rgb(119, 38, 226) 70px;


    margin: 10%;
    height: 965px;
    /* margin-top: 50px; */
    width: 70%;
    /* margin-left: 50%; */
}

.Nav-Head{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin: 5%;
}


#baims{
    font-weight: bold;
    font-size: xx-large;
    margin-top: 0%;
}



.search{
    height: 40px;
    border-radius: 20px;
    padding: 12px 15px;
    width: 130%;
    border: 1px black solid;
    font-size: small;
    background-color: rgb(252, 200, 209);

}


#searchicon{
    position: absolute;
    width: 35px;
    margin-left: 20%;
}


.Signup{
    background-color:rgb(6, 6, 88);
    border: solid 2px rgb(6, 6, 88);
    color: whitesmoke;
    border-radius: 20px;
    height: 40px;
    width: 100px;
}






/* Study time */

.Study-anytime{
    /* padding-left: 50px; */
    display: flex;
    gap: 200px;

}


#cartoon{
    border-radius: 20px;
    margin-right: 2%;
}



.Study-anytime1{
    font-size: 50px;
    font-weight: bolder;
    margin: 5%;
    
    color:rgb(6, 6, 88) ;
}

.Study-anytime2{
    color:rgb(6, 6, 88) ;
    font-size: small;
    margin-left: 5%;
}



.what-do-you-want-to-learn{
    background-color: white;
    border: 1px solid rgb(77, 75, 75);
    height: 10px;
    width: 50%;
    border-radius: 30px;
    padding: 15px;
    margin-left: 5%;
    border-bottom: 3px solid ;
}







/* Satistics */
.statistics{
    display: flex;
    justify-content: center;
    flex-direction: row;

    gap: 20px;
    justify-content: space-between; 
    background-color: white; 
    height: 190px;
    margin-bottom: 0%;
    
    /* border-radius: 30px; */
    margin-top: 8%;
    padding: 20px;
    margin-right: 0%;

    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px ;

    font-weight: bold;
    font-size: 20px;
    
    
    


}






/* Media Querries */


@media all and(min-width:280px)and (max-width:1024px) {

    .body{
    background-color: rgb(252, 203, 211);
    border: 4px solid black;
    border-bottom: 5px solid ;
    border-right: 4px solid black;
    border-radius: 30px;
    /* padding: 40px; */
    padding-bottom: 0%;
    outline: solid rgb(119, 38, 226) 5px;


    margin: 1%;
    height: 965px;
    /* margin-top: 50px; */
    width: 55%;
    /* margin-left: 50%; */
}

.Nav-Head{
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-top: 2%;
    margin: 2%;
    margin-left: 0%;
}


#baims{
    font-weight: bold;
    font-size: xx-large;
}



.search{
    height: 40px;
    border-radius: 20px;
    padding: 12px 15px;
    width: 120%;
    border: 1px black solid;
    font-size: small;
    background-color: rgb(252, 200, 209);

}


.Signup{
    background-color:rgb(6, 6, 88);
    border: solid 2px rgb(6, 6, 88);
    color: whitesmoke;
    border-radius: 20px;
    height: 80px;
    width: 20px;
    margin-left: 0%;
}






/* Study time */

.Study-anytime{
    /* padding-left: 50px; */
    display: flex;
    flex-direction: column;
    gap: 20px;

}


#cartoon{
    border-radius: 20px;
    margin-right: 0%;
    width: 5px;
    height: 20px;
    margin-left: 0%;
    margin-right: 0%;

}



.Study-anytime1{
    font-size: 50px;
    font-weight: bolder;
    margin: 3%;
    
    color:rgb(6, 6, 88) ;
}

.Study-anytime2{
    color:rgb(6, 6, 88) ;
    font-size: small;
    margin-left: 2%;
}



.what-do-you-want-to-learn{
    background-color: white;
    border: 1px solid rgb(77, 75, 75);
    height: 10px;
    width: 35%;
    border-radius: 30px;
    padding: 7px;
    margin-left: 5%;
    font-size: small;
}







/* Satistics */
.statistics{
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 60px;
    /* justify-content: space-between; */
    background-color: white;
    height: 150px;
    margin-bottom: 0%;
    width: 20%;
    border-radius: 30px;
    margin-top: 8%;
    padding: 20px;
    margin-right: 1%;
    


}


}